---

---
<div class="border-b border-zinc-900 h-20 flex flex-row items-center px-8 justify-between">

    <p class="hidden md:block text-xl">Indian Opensource Community</p>
    <p class="md:hidden text-xl">IOC</p>

    <div class="hidden lg:flex gap-8">
        <a href="">About Us</a>
        <a href="">Projects</a>
        <a href="">Community</a>
    </div>

    <div class="lg:hidden flex">
        <p class="underline cursor-pointer">Menu</p>
    </div>

</div>